*{
    font-family: work sans;
    box-sizing: border-box;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0px auto;
}
.logo-section{
    display: flex;
    text-align: center;
    width: 50%;
}
.logo-section img{
    height: 40px;
    margin: auto 20px;
}
.logo-section p{
    text-align: center;
    padding-left: 15px;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin: auto 0px;
}
.logog{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    margin: auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.nav-menu > a{
    text-decoration: none;
    color: #3c356f;
    font-size: 18px;
    font-weight: 500;
}
.follow-btn{
    background-color: rgba(0, 0, 0, 0.107);
    border-radius: 8px;
    padding: 17px;
}

/* nav style end */

.banner-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    height: 700px;
}
.banner-content{
    margin: auto 0px auto 240px;
}
.banner-image{
    margin-right: 240px;
}
.banner-image img{
    padding-top: 20px;
}
.play-like{
    color: #0b0223;
    font-size: 2.6rem;
    font-weight: 600;
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.27rem;
    font-weight: 800;
    margin-top: -40px;
    margin-bottom: -5px;
}
.play{
    color: #534c64;
    font-size: 20px;
    font-weight: 500;
}
.btn-pink{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin-right: 24px;
}
.btn-blue{
    background-color: #4EC5F7;
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
/* banner style end */

.three-section{
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.we-are-gamer-section{
    display: flex;
    justify-content: space-between;
    margin: 55px 240px;
}
.wearegamer-content{
    text-align: right;
}
.wegame-head{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 700;
}
.wegame-dis{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #534c64;
}
.btn-pink-extra{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
.wegame-purp{
    color: #534c64;
    font-size: 1.3rem;
    font-weight: 500;
}
.wegame-para{
    color: #534c64;
    font-size: 1.8rem;
    font-weight: 700;
}

/* we are gamer end  */

.online-game-section{
    margin: 50px 240px;
    text-align: center;
}
.online-game-section h3{
    color: #0b0223;
    font-size: 2.7rem;
    font-weight: 700;
}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-section p{
    color: #534c64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}
.play-game-para{
    color: #534c64;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 48px;
    text-align: left;
}
.online-game-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.box-hover img:hover .image {
  opacity: 0.3;
}
.box-hover img:hover .middle {
  opacity: 1;
}
.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}












/* responsive style css */
/* responsive style css */
/* responsive style css */
@media screen and (min-width:425px) and (max-width:768px){
    .nav-section{
        flex-direction: column;
        margin: 40px 0px 40px 0px;
    }
    .logo-section{
        width: 100%;
        justify-content: center;
    }
    .nav-menu{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-section{
        margin: auto;
        width: 750px;
    }
    .banner-content{
        padding: 20px;
    }
    .banner-image{
        padding: 20px;
    }
    .we-are-gamer-section{
        flex-direction: column;
    }
    .we-are-gamer-section > div{
        width: 750px; 
     }
     .wearegamer-content{
        text-align: center;
     }
     .online-game-section{
        width: 750px;
        margin: 5px;
     }
     .online-game-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

}




@media screen and (max-width:425px){
    .nav-section{
        flex-direction: column;
        margin-top: 50px;
    }
    .logo-section{
        justify-content: center;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
    }
    .follow-btn{
        padding: 10px;
    }
    .nav-menu a{
        margin-top: 20px;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-content{
        width: 400px;
        margin: 5px;
    }
    .banner-image img{
        width: 400px;
        margin: 5px;
    }
    .we-are-gamer-section{
        flex-direction: column;
    }
    .we-are-gamer-section > div{
        width: 400px; 
     }
     .wearegamer-content{
        text-align: center;
     }
     .online-game-section{
        width: 400px;
        margin: 5px;
     }
     .online-game-box{
        flex-direction: column;
     }
}   