*{
    font-family: work sans;
    box-sizing: border-box;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0px auto;
}
.logo-section{
    display: flex;
    text-align: center;
    width: 50%;
}
.logo-section img{
    height: 40px;
    margin: auto 20px;
}
.logo-section p{
    text-align: center;
    padding-left: 15px;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin: auto 0px;
}
.logog{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    margin: auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.nav-menu > a{
    text-decoration: none;
    color: #3c356f;
    font-size: 18px;
    font-weight: 500;
}
.follow-btn{
    background-color: rgba(0, 0, 0, 0.107);
    border-radius: 8px;
    padding: 17px;
}

/* nav style end */

.banner-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    height: 700px;
    align-items: left;
}
.banner-content{
    margin: auto 0px auto 240px;
}
.banner-image{
    margin-right: 240px;
}
.banner-image img{
    padding-top: 20px;
}
.play-like{
    color: #0b0223;
    font-size: 2.6rem;
    font-weight: 600;
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.27rem;
    font-weight: 800;
    margin-top: -40px;
    margin-bottom: -5px;
}
.play{
    color: #534c64;
    font-size: 20px;
    font-weight: 500;
}
.btn-pink{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin-right: 24px;
}
.btn-blue{
    background-color: #4EC5F7;
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
/* banner style end */

.three-section{
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.we-are-gamer-section{
    display: flex;
    justify-content: space-between;
    margin: 55px 240px;
}
.wearegamer-content{
    text-align: right;
}
.wegame-head{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.7rem;
    font-weight: 700;
}
.wegame-dis{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #534c64;
}
.btn-pink-extra{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}
.wegame-purp{
    color: #534c64;
    font-size: 1.3rem;
    font-weight: 500;
}
.wegame-para{
    color: #534c64;
    font-size: 1.8rem;
    font-weight: 700;
}

/* we are gamer end  */

.online-game-section{
    margin: 50px 240px;
    text-align: center;
}
.online-game-section h3{
    color: #0b0223;
    font-size: 2.7rem;
    font-weight: 700;
}
.funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-game-section p{
    color: #534c64;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}
.play-game-para{
    color: #534c64;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 48px;
    text-align: left;
}
.online-game-box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* online games style end  */

.fourth-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 700px;
}

.fourth-section-left {
    margin-left: 150px;
}

.fourth-section-left span {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fourth-section-left h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}
.fourth-section-left h1, p {
    text-align: right;
}
.fourth-section-left p {
    width: 400px;
    margin: auto;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.inner img{

    width: 218px;
    height: 265px;
}
.container{
    width: 430px;
    height: 450px;
    background-image: url(../images/play-instant.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.inner{
    width: 218px;
    height: 265px;
    transform: translateX(-100px) translateY(250px);
}
/* 2nd part  */
.fourth-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 700px;
}
.fourth-section-left {
    margin-left: 150px;
}
.fourth-section-left span {
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.fourth-section-left h1{
    font-size: 42px;
    font-weight: 700;
    line-height: 60px;
    color: #0B0223;
}
.fourth-section-left h1, p {
    text-align: right;
}
.fourth-section-left p {
    width: 400px;
    margin: auto;
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.inner img{
    width: 218px;
    height: 265px;
}
.container2{
    width: 430px;
    height: 450px;
    background-image: url(../images/play-games.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.inner{
    width: 218px;
    height: 265px;
    transform: translateX(-100px) translateY(250px);
}

/* play game online style end */

.career-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}

.career-section-right img{
    width: 800px;
}
.career-section-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 150px;
    gap: 15px;
    
}

.career-section-left h1 {
    text-align: left;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.career-section-left p {
    text-align: left;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.career-left-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.career-left-text h6{
    text-align: right;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;

}

.career-left-text h5{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.career-section-left button{
    padding: 21px 40px;
    gap: 30px;
    border-radius: 48px;
    border: none;
    background: #FFF ;
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

} 

/* Career end  */

.game-cetagory{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    margin: 50px 240px;
    background-color: #3e37540e;
    row-gap: 20px;
}
.game{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 231px;
    border-radius: 50px;
    background-color: #fff;
    padding: 0px 5px;
    align-items: center;
}
.game h6{
    font-size: 1.1rem;
    font-weight: 600;
    color: #0b0223;
}
.game:hover{
    border:1px solid #F948B2;
}
.game h6:hover{
    color: #F948B2;
}

/* Footer start  */

.footer{
    height: 636px;
    background-color: #0B0223;
    align-items: center;
}
.flogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flogo img{
    width:87px;
    height: 40px;
    margin-right: 15px;
}
.flogo h3{
    color:#fff;
    font-size: 2.7rem;
    font-weight: 700;
}
.fmenu{
    display: flex;
    justify-content: center;
}
.fmenu a{
    text-decoration: none;
    color:#fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 50px 30px 40px;
}
.ficon a{
    color:#fff;
    padding: 0px 15px;
}
.ficon{
   text-align: center;
   font-size: 2.5rem;
}
.flink{
    display: flex;
    justify-content: center;
}
.flink a{
    text-decoration: none;
    color: #ffffff99;
    padding: 50px 20px 40px;
}
.copy{
    color: #ffffff99;
    display: flex;
    justify-content: center;
}













/* responsive style css */
/* responsive style css */
/* responsive style css */
@media screen and (min-width:425px) and (max-width:768px){
    .nav-section{
        flex-direction: column;
        margin: 40px 0px 40px 0px;
    }
    .logo-section{
        width: 100%;
        justify-content: center;
    }
    .nav-menu{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-section{
        margin: auto;
        width: 750px;
    }
    .banner-content{
        padding: 20px;
    }
    .banner-image{
        padding: 20px;
    }
    .we-are-gamer-section{
        flex-direction: column;
    }
    .we-are-gamer-section > div{
        width: 750px; 
     }
     .wearegamer-content{
        text-align: center;
     }
     .online-game-section{
        width: 750px;
        margin: 5px;
     }
     .online-game-box{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }
        .allplay{
            width: 7500px;
            margin: 5px;
        }

}




@media screen and (max-width:425px){
    .nav-section{
        flex-direction: column;
        margin-top: 50px;
    }
    .logo-section{
        justify-content: center;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
    }
    .follow-btn{
        padding: 10px;
    }
    .nav-menu a{
        margin-top: 20px;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-content{
        width: 400px;
        margin: 5px;
    }
    .banner-image img{
        width: 400px;
        margin: 5px;
    }
    .we-are-gamer-section{
        flex-direction: column;
    }
    .we-are-gamer-section > div{
        width: 400px; 
     }
     .wearegamer-content{
        text-align: center;
     }
     .online-game-section{
        width: 400px;
        margin: 5px;
     }
     .online-game-box{
        display: flex;
        flex-direction: column;
     }
     .allplay{
        width: 400px;
        margin: 5px;
    }
    
    .fourth-section{
        height: 880px;
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 20px;
    }
    
    .fourth-section-left {
        margin-left: 1px;
    }
    .fourth-section-left h1, p {
        text-align: center;
    }
    .container{
        width: 380px;
        height: 400px;
    }
    .container2{
        width: 380px;
        height: 400px;
    }
    .inner{
        width: 118px;
        height: 165px;
        transform: translateX(-50px) translateY(200px);
    }

    .career-section{
    
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 500px;
        gap: 20px;
    }
    
    
    
    .career-section-right img{
        width: 300px;
    }
    
    .career-section-left{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        width: 300px;
        margin: auto;
    }
    .career-section-left h1 {
        text-align: center;
        width: 400px;
    }
    
    .career-section-left p {
        text-align: center;
        width: 400px;
    }

    .career-left-text{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px
        margin: auto;
    }
    .career-left-text h6{
        text-align: right;
    }
    .career-left-text h5{
        text-align: left;
    }
    .game-cetagory{
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 5px;
        margin: auto;
        background-color: #3e37540e;
        row-gap: 5px;
        width: 400px;
    }
    .footer{
        width:100%;
    }
    .fmenu{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .fmenu a{
        padding: 10px 10px 20px;
    }
    .ficon{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .ficon a{
        padding: 10px;
    }
    .flink{
        display: grid;
        grid-template-columns: auto auto;
    }
    .flink a{
        padding: 10px;
    }
    .copy{
        max-width:258px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}   