*{
    font-family: work sans;
    box-sizing: border-box;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0px auto;
}
.logo-section{
    display: flex;
    text-align: center;
    width: 50%;
}
.logo-section img{
    height: 40px;
    margin: auto 20px;
}
.logo-section p{
    text-align: center;
    padding-left: 15px;
    font-size: 45px;
    font-weight: 700;
    color: #0B0223;
    margin: auto 0px;
}
.logog{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-menu{
    margin: auto 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.nav-menu > a{
    text-decoration: none;
    color: #3c356f;
    font-size: 18px;
    font-weight: 500;
}
.follow-btn{
    background-color: rgba(0, 0, 0, 0.107);
    border-radius: 8px;
    padding: 17px;
}

/* nav style end */

.banner-section{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
    background-image: url(../images/banner-bg.png);
    background-repeat: no-repeat;
    height: 700px;
}
.banner-content{
    margin: auto 0px auto 240px;
}
.banner-image{
    margin-right: 240px;
}
.banner-image img{
    padding-top: 20px;
}
.play-like{
    color: #0b0223;
    font-size: 2.6rem;
    font-weight: 600;
}
.goat{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.27rem;
    font-weight: 800;
    margin-top: -40px;
    margin-bottom: -5px;
}
.play{
    color: #534c64;
    font-size: 20px;
    font-weight: 500;
}
.btn-pink{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    margin-right: 24px;
}
.btn-blue{
    background-color: #4EC5F7;
    border-radius: 48px;
    border: none;
    padding: 21px 40px;
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
}










/* responsive style css */
/* responsive style css */
/* responsive style css */
@media screen and (min-width:425px) and (max-width:768px){
    .nav-section{
        flex-direction: column;
        margin: 40px 0px 40px 0px;
    }
    .logo-section{
        width: 100%;
        justify-content: center;
    }
    .nav-menu{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .banner-section{
        margin: auto;
    }
    .banner-content{
        padding: 20px;
    }
    .banner-image{
        padding: 20px;
    }

}




@media screen and (max-width:425px){
    .nav-section{
        flex-direction: column;
        margin-top: 50px;
    }
    .logo-section{
        justify-content: center;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
    }
    .follow-btn{
        padding: 10px;
    }
    .nav-menu a{
        margin-top: 20px;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-content{
        margin: auto;
    }
    .banner-image{
        width: 100vw;
        margin: 30px;
    }
    

}